/* scss for components */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './template.scss';
@import './animated.css';



html,
body,
#root, .App {
    @extend %fullsize;
    height: calc( 100vh - 50px);
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #fafafa;
    color: #3e3e3e;
}

.error {
    position: relative;
    
    left:8%;
    
    background-color: $errorback;
    margin: 0;
    padding: 4px;
    width: 81%;
    color: white;
    animation-duration: 0.5s;
    animation-name: slideInDown;
    display: flex;

    -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    svg {
        width: 1.3em;
        height: 1.3em;
    }

    span {
        margin-left: 10px;
        line-height: 21px;
    }
}


#tablePaginationNoBorder{
    border-bottom: 0
}


.preloader-scan {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
         
    .laser {
      width: 92%;
      margin-left: -10%;
      background-color: tomato;
      height: 1px;
      position: absolute;
      top: 23%;
      box-shadow: 0 0 4px red;
      animation: scanning 2s infinite;
    }
  
    .diode {
      animation: beam 0s infinite;
    }
  

    @keyframes beam {
        50% {
          opacity: 0;
        }
    }
      
    @keyframes scanning {
        50% {
          transform: translateY(100px);
        }
    }
    
}

#scanerError {
    position: relative;
    
    left:8%;
    
    text-align: center;
    background-color: $errorback;
    margin: 0;
    padding: 4px;
    width: 81%;
    color: white;
    animation-duration: 0.5s;
    animation-name: slideInDown;


    -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    svg {
        width: 1.3em;
        height: 1.3em;
    }

    span {
        margin-left: 10px;
        line-height: 21px;
    }
}

#waitingIconCentered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.infospanel{
    
    #user {
        .table{
            .row{
                img{
                    width: 200px;
                    border-radius : 50%;
                    /*box-shadow: -1em 0 0.4em grey;*/
                }
                .imgBorder{
                    box-shadow: 0px 0px 25px 1px rgba(255,255,255,1) inset;
                    border-radius: 50%;
                    height: 200px;
                    width: 200px;
                    margin-top: -200px;
                }
            }
        }
    }

    &.resume{
        width: 200px;
        
    }
    
    .table{
        &.details{
            /*max-height: 1024px;*/
            overflow-x: hidden;
            overflow-y:auto;
            padding-right: 5px;
            margin: 0 36px;
            width: 100%;
            .double{
                display: flex;
                flex-wrap: wrap;

                &.decorated{
                    border-bottom: 1px solid #e3e3e3;
                    
                    padding: 12px;
                }

                .half{
                    width: 50%;
                    margin-right: 2px;
                    min-width: 200px;
                    .row{   
                         padding: 5px;
                        &.nobackground{
                            background: white!important;
                        }
                        &.aligntop{
                            align-items: normal!important;
                        }
                    }
                    .row:nth-child(even){
                        background: #f8f9fd;
                    }
                    
                    .title{
                        font-size: 0.624em;
                        color: rgba(0,0,0,0.4);
                        text-transform: uppercase;
                        width: 33%;
                        color: #0086C9;
        
        
                    }
                    .value{
                        font-size: 1em;
                        width: 80%;
                        text-indent: 5px;
                        white-space: nowrap;
                        width: 66%;
                        letter-spacing: 2px;
                        &.uppercase{
                            text-transform: uppercase;
                        }
                        &.block{
                            white-space: normal; 
                            min-height: 118px;
                            max-height: 118px;
                        }
                    }
                    
                    
                }

                .full{
                    width: 100%;
                    margin-right: 2px;
                    min-width: 200px;
                    .row{   
                         padding: 5px;
                        &.nobackground{
                            background: white!important;
                        }
                        &.aligntop{
                            align-items: normal!important;
                        }
                    }
                    .row:nth-child(even){
                        background: #f8f9fd;
                    }
                    
                    .title{
                        font-size: 0.624em;
                        color: rgba(0,0,0,0.4);
                        text-transform: uppercase;
                        width: 33%;
                        color: #0086C9;
        
        
                    }
                    .value{
                        font-size: 1em;
                        width: 80%;
                        text-indent: 5px;
                        white-space: nowrap;
                        width: 66%;
                        letter-spacing: 2px;
                        &.uppercase{
                            text-transform: uppercase;
                        }
                        &.block{
                            white-space: normal; 
                            height: auto;
                            word-break: break-all;
                        }
                    }
                    
                    
                }
                
                .fullSizerow{
                    display: block;
                    width: 100%;
                }
                .endTableCell{
                    border: none;
                    text-align: center;
                }
                .small-btn {
                    button{
                        border-radius: 0;
                        font-size: 1em;
                    }
                    
                }
            }
            
        }
        .row{           
            .title{
                font-size: 0.624em;
                color: rgba(0,0,0,0.4);
               text-transform: uppercase;
                width: 33%;
                color: #0086C9;
                &.left{padding-left: 5px;}

            }

            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            padding: 3px;
            
            .username{
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            .infostitle{
                text-transform: uppercase;
                font-size: 0.624em;
                color: rgba(0,0,0,0.4);
                padding-top: 20px;
                &.extraspace{
                    padding-top:8px;
                }
            }
            .admin{
                color: #0086C9;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.8em;
            }
            .icontitle{
                font-size: 1em;                
               text-transform: uppercase;                
                color: #0086C9;
                position: relative;
                top: 3px;

            }
            .value{
                font-size: 0.924em;
                
                text-indent: 5px;
                white-space: nowrap;
                
                letter-spacing: 1px;
                &.uppercase{
                    text-transform: uppercase;
                }
                &.link a{
                    text-decoration: none;
                    color: #0086C9!important;
                }
            }
        }

        &.resume{
            width: 207px;
            #edit{
                width: calc(100% - 16px);
            }
            #editPhone{
                width: calc(100% - 16px);
            }
        }
    }
}

.invisible{opacity: 0;}
.visible{.invisible{opacity:1}}